.nav {
  grid-area: n;
  background-color: #caef8e/*rgb(185, 142, 0)*/;
  padding: 20px;
  border-radius: 18px;
  margin: 2px;
  grid-template-rows: 30px 30px 30px 30px 64px 28px;
  grid-template-columns: 250px;
  display: grid;
}

.item {
  color: white;
}
.active {
  color: gold;
}

.friendsList {
  list-style-type: none;
  display: grid;
  grid-template-rows: 61px 72px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
}
.friends {
  margin: 35px 0 0 0;
}
/*.friendsList {
  list-style-type: none;
}*/
li {
  list-style-type: none; /* Убираем маркеры у списка */
  /*list-style-image: url("orange-round.png");*/
}

